* {
  --pallete1: #462b6e;
  --pallete2: #6e4f84;
  --pallete3: #8673a4;
  --pallete4: #6a457a;
  --pallete5: #d7d0e3;
  margin: 0px;
  padding: 0px;
  font-family: Roboto, sans-serif;
  color: var(--pallete5);
}

main {
  display: flex;
  flex-direction: column;
  background-color: var(--pallete2);
}

.profile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  align-items: center;
  background-color: var(--pallete1);
  height: 40vh;
}

.imagem {
  display: flex;
  margin: 2%;
  width: 15vh;
  border-radius: 100%;
}

.texto {
  display: flex;
  flex-direction: column;
  width: 70vw;
}
.icons img {
  width: 50px;
}

h1 {
  font-size: 45px;
  font-family: "The Nautigal";
  font-weight: 700;
}

h2 {
  font-size: 35px;
  font-family: "The Nautigal";
  font-weight: 700;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  overflow: hidden;
}
section.row div {
  width: 26vw;
  height: 60vh;
}
.column {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.column .div {
  width: 10vw;
}

.carrossel {
  width: 100vw;
  height: 60vh;
}
.bloco {
    display: none;
  width: 100%;
  height: 100%;
}
.bloco:target {
  display: flex;
}
.bloco a.setas{
  margin: auto 0;
}
.bloco a.setas button{
  border-radius: 15px;
  height:auto;
  font-size: 35px;
  padding: 3px;
}

.skills {
  width: 15vw;
}
.skills img {
  width: 60%;
  display: flex;
  flex-direction: column;
}
.today {
  display: flex;
  flex-direction: column;
}

h3 {
  font-size: 25px;
  font-family: "The Nautigal";
  font-weight: 400;
}

table {
  border-collapse: collapse;
  width: 100%;
  color: var(--pallete1);
}

.accordion {
  background-color: var(--pallete3);
  color: var(--pallete4);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active,
.accordion:hover {
  background-color: var(--pallete3);
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: var(--pallete1);
  overflow: hidden;
}

td,
th {
  border: 1px solid var(--pallete3);
  background-color: var(--pallete1);
  text-align: left;
  padding: 8px;
}
